arduino+nodered/ard_uno_nodered/node-red-ard23.txt
[{"id":"486bd6ee.984d28","type":"mqtt-broker","z":"87acaf33.b02a68","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"722036d5.90df7","type":"mqtt in","z":"87acaf33.b02a68","name":"","topic":"/ard23/out/#","broker":"486bd6ee.984d28","x":740,"y":120,"wires":[["496da622.79e85"]]},{"id":"496da622.79e85","type":"debug","z":"87acaf33.b02a68","name":"","active":true,"console":"false","complete":"false","x":970,"y":80,"wires":[]},{"id":"51ec2d66.a58f0c","type":"mqtt in","z":"87acaf33.b02a68","name":"","topic":"/ard23/out/bt1","broker":"486bd6ee.984d28","x":150,"y":320,"wires":[["909cf68.09ad608"]]},{"id":"909cf68.09ad608","type":"mqtt out","z":"87acaf33.b02a68","name":"","topic":"/ard23/in/D5","qos":"","retain":"","broker":"486bd6ee.984d28","x":410,"y":280,"wires":[]},{"id":"ac668670.596348","type":"mqtt in","z":"87acaf33.b02a68","name":"","topic":"/ard23/out/dm1","broker":"486bd6ee.984d28","x":680,"y":320,"wires":[["4f8a8f0b.5a3b6"]]},{"id":"4f8a8f0b.5a3b6","type":"mqtt out","z":"87acaf33.b02a68","name":"","topic":"/ard23/in/D8","qos":"","retain":"","broker":"486bd6ee.984d28","x":950,"y":280,"wires":[]},{"id":"4a0fa373.2299ec","type":"inject","z":"87acaf33.b02a68","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":650,"y":240,"wires":[["4f8a8f0b.5a3b6"]]},{"id":"6e2390b3.24cc5","type":"inject","z":"87acaf33.b02a68","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":false,"x":650,"y":280,"wires":[["4f8a8f0b.5a3b6"]]},{"id":"6ee9cc86.7957cc","type":"mqtt in","z":"87acaf33.b02a68","name":"","topic":"/ard23/out/an5","broker":"486bd6ee.984d28","x":550,"y":80,"wires":[["ec406994.7a6228"]]},{"id":"ec406994.7a6228","type":"range","z":"87acaf33.b02a68","minin":"0","maxin":"1023","minout":"0","maxout":"5","action":"scale","round":false,"name":"","x":740,"y":80,"wires":[["496da622.79e85"]]},{"id":"acd5585.51bb928","type":"inject","z":"87acaf33.b02a68","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":240,"wires":[["909cf68.09ad608"]]},{"id":"4e0f461d.d87c2","type":"inject","z":"87acaf33.b02a68","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":280,"wires":[["909cf68.09ad608"]]},{"id":"1cedc821.8da2f","type":"inject","z":"87acaf33.b02a68","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":80,"wires":[["9f268f99.41f9c8"]]},{"id":"9f268f99.41f9c8","type":"mqtt out","z":"87acaf33.b02a68","name":"","topic":"/ard23/in/test","qos":"","retain":"","broker":"486bd6ee.984d28","x":310,"y":80,"wires":[]},{"id":"10d3beaa.2f2181","type":"inject","z":"87acaf33.b02a68","name":"","topic":"","payload":"hello!","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":140,"wires":[["89901acb.f37028"]]},{"id":"89901acb.f37028","type":"mqtt out","z":"87acaf33.b02a68","name":"","topic":"/ard23/in/echo","qos":"","retain":"","broker":"486bd6ee.984d28","x":320,"y":140,"wires":[]}]
